강의명 : {{crs.name}}
담당교수 : {{crs.prof}}
학부 : {{crs.dep}}
한줄평 : {{crs.eval}}<br>
<a href="{% url 'edit' crs.id %}">수정</a><br>
<a href="{% url 'delete' crs.id %}">삭제하기</a><br><br>

<a href="{% url 'c_like' crs.id %}">좋아요</a><br><br>
{{like.count}}명이 좋아합니다.
'좋아요'한 사람 : {% for l in like %} {{l.author}} {% endfor %}

<form action="{% url 'c_create' crs.pk %}" method="POST" enctype="multipart/form=data">
    {% csrf_token %}
    내용 : {{cform.content}}
    작성자 : {{cform.author}}
    <input type="submit" value="한줄평 작성">
</form><br>

{% for cmt in cmt %}
    {{cmt.content}}
    {{cmt.author}}
    {{cmt.date}}<br>
{% empty %}
    No comment yet.<br>
{% endfor %}

<a href="{% url 'home' %}">back</a>