{% extends 'sgapp/base.html' %}

{% block content %}

<div class="container">
    <div class="con-title">
        <h3>최근강의평</h3>
    </div>


    {% for c in crs %}
    <div class="arrow_box">
        <div class="section">
              <a class="article" href="{% url 'detail' c.id %}">
                <h3>{{c.name}}</h3>
                <!--
                <p class="rate">
                    <span class="star">
                        <span class="on" style="width: 20%;"></span>
                    </span>
                </p>
                -->
                교수 : {{c.prof}} | 학부 : {{c.dep}}<br>
                평가 : {{c.summary}}...<br>
            </a>
        </div>
    </div>
    {% endfor %}
</div>



<!--에브리타임 스타일 
<div class="container">
    <div class="section">
        <h3>최근 강의평</h3>
        <div class="articles" data-campus-id="0">
          <a class="article" href="/lecture/view/1943785">
            <h5>경영정보시스템 : 한재형</h5>
            <p class="rate">
                <span class="star">
                    <span class="on" style="width: 20%;"></span>
                </span>
            </p>
            <p class="text">듣는 것도 고통스럽고 시험도 고통스럽고 점수도 고통스러웠던 수업 .. 절대 추천 안해요ㅠㅠ</p>
        </a>
        </div>
    </div>
</div>
-->



{% endblock %}


