{% extends 'sgapp/base.html' %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>{{user.username}}님의 페이지입니다.</h2>
        <p class="lead"></p>
     </div>
    <form method="POST" class="profile" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- {{ form.as_p }} -->

        <div class="form-group ">
            <label for="{{form.title.id_for_label}}">Title:</label> 
            <input type="text" name="{{form.title.html_name}}" class="form-control" maxlength="100" required="" id="{{form.title.id_for_label}}">
        </div>
        <div class="form-group">
            <label for="{{form.photo.id_for_label}}">Photo:</label> 
            <input type="file" name="{{form.photo.html_name}}" class="form-control" accept="image/*" id="{{form.photo.id_for_label}}">
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>
    {% if pf.photo %}
        <img src="{{ pf.photo.url }}" height=200>
    {% endif %}

</div>

<div class="container">
    <div class="con-title">
        <h3>내가 쓴 글</h3>
    </div>

<!--<div>
    <button type="button" onclick="location.href='change_info'">회원정보수정</button>
</div>-->


    {% for c in crs %}
    <div class="arrow_box">
        <div class="section">
              <a class="article" href="{% url 'detail' c.id %}">
                <h3>{{c.name}}</h3>
                <p class="rate">
                    <span class="star">
                        <span class="on" style="width: 20%;"></span>
                    </span>
                </p>
                교수 : {{c.prof}} | 학부 : {{c.dep}}<br>
                평가 : {{c.summary}}...<br>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



