{% extends 'sgapp/base.html' %}

{% block content %}


<div class="container my_container row justify-content-center flex-lg-nowrap">

    <div class="card card-body col-12 col-sm-6 col-lg-5">

        <div class="row">
            <div class="col-12 col-sm-auto mb-3">
                <div class="mx-auto" id="default_img" style="  width: 140px; height: 140px; background-color: rgb(233, 236, 239);">
                    {% if ProfileForm.photo %}
                    <img id="preview" src="{{ ProfileForm.photo.url }}" height="140px">
                    {% endif %}
                </div>
                
            </div>
            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}</h4>
                    <p class="mb-0">{{user.first_name}}</p>
                    <div class="text-muted"><small>
                            {% if ProfileForm.title %}
                            {{ProfileForm.title}}
                            {% else %}
                            ....................
                            {% endif %}
                        </small></div>
                </div>
            </div>
        </div>

        <!-- nav바 -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="/mypage" class="active nav-link">개인정보</a></li>
            <li class="nav-item"><a href="/change_pw" class="btn-light active nav-link">비밀번호 변경</a></li>
        </ul>
        <div id="pf_content">
            <br>
            <div class="h6">
                성: {{user.last_name}}
            </div>
            <br>
            <div class="h6">
                이름: {{user.first_name}}
            </div>
            <br>
            <div class="h6">
                이메일: {{user.email}}
            </div>
            <br>

            <form method="POST" class="profile" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- 프로필 입력 필드 -->
                <div class="form-group ">
                    <label for="{{pform.title.id_for_label}}">프로필 입력</label>
                    <input type="text" name="{{pform.title.html_name}}" class="form-control" maxlength="100" required=""
                        id="{{pform.title.id_for_label}}" value=" {{pform.title.value}}">
                </div>
                <!-- 사진 변경 -->
                <div class="mt-2">
                    <!-- 사진 변경 버튼 -->
                    <label for="{{pform.photo.id_for_label}}" class="btn btn-outline-info custom-file-upload">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>사진 변경</span>
                    </label>
                    <input type="file" name="{{pform.photo.html_name}}" class="inp-img" accept="image/*"
                        id="{{pform.photo.id_for_label}}" >
                </div>
                <button type="submit" class="btn btn-info">변경 내용 저장하기</button>
            </form>
        </div>
    </div>

    <div class="card card-body col-12 col-sm-6 col-lg-5">
        <div class="p-3">
            <h4>내가 올린 글</h4>
            {% for c in crs %}
            <h6><a class="text-info" href="{% url 'detail' c.id %}">{{c.name}}: {{c.prof}}</a></h6>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}