{% extends 'sgapp/base.html' %}

{% block content %}
<div class="search-title">
    <h3>검색결과</h3>
</div>
<div class="d-flex justify-content-center search_form">
      <form class="d-flex flex-row form-inline" action="/search/" method="GET">
          <input class="form-control search_input" style="min-width:300px;height:48px;" type="search" placeholder="과목/교수/학부" name="search" value="{{s}}">
          <select id="cate" name="cate" style="width:110px; height:48px;">
              <option value="name">과목</option>
              <option value="prof">교수</option>
              <option value="dep">학부</option>
          </select>
          <button class="btn btn-outline-info btn-lg" type="submit">검색하기</button>
      </form> 
</div>
      <div style="height: 48px; padding-top: 20px; text-align: center; font-size: 18px"><a class="bt-20 text-info" href="/search/?search=&cate=name">전체보기</a></div>

    <div class="container result_container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 search-list">
            {% for c in crs %}
            <div class="col">
                <a href="{% url 'detail' c.id %}" class="btn btn-block h-100 active">
                    <h4>{{c.name}}</h4>
                    {{c.prof}}  |  {{c.dep}}<br>
                    <span class="badge badge-primary badge-pill"></span>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}



<!-- 
{% for c in crs %}
강의명 : {{c.name}} 교수 : {{c.prof}} <a href="{% url 'detail' c.id %}">한줄평 보기</a> <br>
{% endfor %} -->