{% load static %}
<!DOCTYPE html>
 <html lang="kor">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <!-- Local CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'sogeuna/css/signin-style.css' %}">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>So근So근</title>
    </head>

  <body class="signup_bg">
    
    <form class="form-signup fset" method="POST" action="{%url 'signup'%}">
    {% csrf_token %}
      <br>
      <img class="mb-4" src="#" alt="" width="72" height="72">
      <h1 class="megatitle_fset h3 mb-3 font-weight-normal text-center">So근So근 회원가입</h1>
      <input type="hidden" name="csrfmiddlewaretoken" value="AwsXPoMbZRihWHm7PeGnrM3670BdhVTZGJ23M2wQ9IMiJd5f0ZDjYEinenZ5cwdW">
    
      <p>
          </p><div class="form-group">
              <label for="last_name">성: <span class="required">*</span></label> 
              <input type="text" name="last_name" class="form-control last_name" id="last_name" placeholder="홍" required="">
          </div>
      

      <p>
          </p><div class="form-group">
              <label for="first_name">이름: <span class="required">*</span></label> 
              <input type="text" name="first_name" class="form-control first_name" id="first_name" placeholder="길동" required="">
          </div>
      
  
    
      <p>
          </p><div class="form-group">
              <label for="username">아이디: <span class="required">*</span></label> 
              <input type="text" name="username" class="form-control username" id="username" aria-describedby="emailHelp" placeholder="likelion123" required="">
          </div>
      

      <p>
          </p><div class="form-group">
              <label for="password1">비밀번호: <span class="required">*</span></label>
              <input type="password" class="form-control" id="passsword1" name="password1" placeholder="비밀번호 입력" required="">
          </div>
              
      <p>
          </p><div class="form-group">
              <label for="password_check">비밀번호 확인: <span class="required">*</span></label>
              <input type="password" class="form-control" id="password_check" name="password_check" placeholder="비밀번호 입력" required="">
              <small id="passwordHelp" class="sub_fset form-text text-muted helptext">&nbsp;비밀번호를 다시 한 번 입력하세요. </small>
          </div>
              
    
      <p>
          </p><div class="form-group">
              <label for="email">이메일: <span class="required">*</span></label> 
              <input type="text" class="form-control username" id="email" aria-describedby="emailHelp" placeholder="hello@gmail.com" maxlength="150" name="email" required="">
          
            </div>
      
      <br>


      <button class="title_fset btn btn-lg btn-indigo btn-block" type="submit" href="/">제출하기</button>
    </form>
     

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
